.gradientBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 1;
  background-image: linear-gradient(
    180deg,
    #faf0fd 0%,
    #f5e5fa 20%,
    #f0daf7 40%,
    #eec5fb 60%,
    #eec5fb 80%
  );
}

.overlay {
  position: absolute;
  inset: 0;
  background: transparent;
  z-index: 10;
}

.fadeIn {
  animation: fadeIn 1.2s ease-out forwards;
  opacity: 0;
  transform: translateY(20px);
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.button {
  height: 38px;
  width: 142px;
  background-color: #8458c4;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #0891b2;
}
